<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:schedulerdb.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="org.hibernate.type">trace</property>

        <mapping class="org.swp.scheduler.database.models.StudentPlanData"/>
        <mapping class="org.swp.scheduler.database.models.Section"/>
        <mapping class="org.swp.scheduler.database.models.SectionComponent"/>
        <mapping class="org.swp.scheduler.database.models.Course"/>
        <mapping class="org.swp.scheduler.database.models.CourseComponent"/>
        <mapping class="org.swp.scheduler.database.models.Room"/>
        <mapping class="org.swp.scheduler.database.models.StudentFeedback"/>
        <mapping class="org.swp.scheduler.database.models.Teacher"/>
        <mapping class="org.swp.scheduler.database.models.LoginData"/>
        <mapping class="org.swp.scheduler.database.models.TimePreference"/>
        <mapping class="org.swp.scheduler.database.models.CoursePreference"/>
        <mapping class="org.swp.scheduler.database.models.RoomType"/>
        <mapping class="org.swp.scheduler.database.models.CourseType"/>

    </session-factory>
</hibernate-configuration>